/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap");

/* Standard config */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

.encabezado{

height: 500px;

}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 80px 0px;
  
  
}

.nav{
  width: 100%;
  display: flex;
  justify-content: end;
  background-color: #88cc00;
 }

 .nav-items{
  padding: 5px;
  margin: 10px 15px;
  text-decoration: none;
  color: white;
 }

 
 .encabezado_tittle{
  color: #88cc00;
  font-size: 3rem;
  font-weight: 100px;
  margin: 35px 10px;
  display: flex;  
  justify-content: center;
  
 }

.encabezado_subtittle{
  color: #88cc00;
  font-size: 1.5rem;
  display: flex;  
  justify-content: center;
  
}

.main_container{
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.main_container .card{
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  
}

.main_container .card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
}